.home_main_container {
    margin: 60px;
    line-height: 2;
}

.home_main_container div {
    margin: 15px 0;
}

.home_main_container h3 {
    font-size: 30px;
    font-weight: 600;
    width: 80%;
    margin-bottom: 10px;
}

.home_main_container img {
    width: 100%;
}

.home_main_container p {
    font-size: 18px;
    font-weight: 400;
}